header.title {
    border: 1px solid #ccc;
    background-color: black;
    font-family: 'Open Sans', 'Alef', sans-serif;
}

header.title span {
    display: inline-block;
    font-size: xx-large;
    color: white;
}

header.title nav {
    margin-left: 20px;
    display: inline-block;
}

header.title nav a {
    padding: 0 5px;
    color: white;
}

header.title nav a.active {
    padding: 0 5px;
    color: white;
    background: green;
}

header.title i {
    margin: 5px;
}

header.title span {
    font-weight: bold;
}

.dashboard {
    margin: 10px;
    width: 80%;
}

.dashboard header {
    font-size: x-large;
}

.dashboard header span {
    margin-left: 10px;
    text-align: left;
}

.dashboard section {
}

.dashboard table {
    width: 100%;
    border: 1px solid #ccc;
}

.dashboard th {
    font-size: .75em;
    background-color: #ccc;
    padding: 3px 11px;
    text-align: left;
}

.dashboard th.right {
    text-align: right
}

.dashboard td {
    border: 1px solid #ccc;
    padding: 3px 11px;
}

td.number {
    text-align: right;
}

#calendar {
    width: 900px;
    margin: 0 auto;
}

section.calendar {
    overflow: hidden;
}

div.day-slot-labels {
    overflow: hidden;
}

div.day-slot-labels div.day {
    float: left;
    width: 13%;
}

div.day-label {
    float: left;
    width: 5%;
}

div.day-label .half {
    border-bottom: 1px solid white;
}

div.day-label .hour {
    text-align: right;
    border-top: 1px solid #ccc;
}

div.day {
    float: left;
    width: 13%;
    position: relative;
}

div.day div.title {
    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.day div.time {
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
}

div.event {
    position: absolute;
    top: 89px;
    height: 108px;
    background-color: rgb(169, 169, 199);
    width: 98px;
}

/*div.hours {*/
    /*float: left;*/
    /*width: 5%;*/
/*}*/

/*div.hours div.hour {*/
    /*border-bottom: 1px solid #ccc;*/
    /*text-align: right;*/
/*}*/


/*div.event {*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*height: 79px;*/
    /*width: 45%;*/
    /*overflow: hidden;*/
    /*overflow-text: ellipsis;*/
/*}*/

/*div.ct40 {*/
    /*border: 1px solid blue;*/
    /*background-color: rgb(126, 126, 247);*/
    /*left: 3%;*/
/*}*/

/*div.ct50 {*/
    /*border: 1px solid green;*/
    /*background-color: green;*/
    /*left: 51%;*/
/*}*/

/*#thing {*/
    /*border: 1px solid red;*/
/*}*/

